* {
  box-sizing: border-box;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  background: url('https://torquuato.github.io/manxring/bg-tartan.jpg') repeat;
  background-size: 220px 220px;
  animation: bg-scrolling 150s linear infinite;
  overflow-y: scroll;
}

p{
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

#container {
  max-width: 900px;
  margin: 0 auto;
}

#container a {
  font-weight: bold;
}

#header {
  width: 100%;
  background-color: #9c0000;
  height: 150px;
  background-size: 100%;
  border: #ff0000 dotted 2px;
  border-bottom: none;
  align-content: center;
  text-align: center;
    -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff;
}

#navbar {
  height: 40px;
  background-color: #752121;
  width: 100%;
  border: #ff0000 dotted 2px;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content:left;
  
}

#navbar li {
  padding-top: 10px;
  margin-left: 25px;
}

#navbar li a {
  color: #ffd500;
  font-weight: 800;
  text-decoration: none;
}

#navbar li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#flex {
  display: flex;
}

aside {
  background-color: #241445;
  width: 200px;
  padding: 20px;
  font-size: smaller;
}

main {
  background-color: #f4f4f4;
  flex: 1;
  padding: 20px;
  order: 2;
  border: #ff0000 dotted 2px;
}

footer {
  background-color: #9b0000;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  border: #ff0000 dotted 2px;
}

h1, h2, h3, h4{
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }
}

textarea{
  resize: none;
}